#editProfileNavA {
    padding-left: 5%;
    padding-right: 5%;
}

.leftbox {
    padding-top: 3%;
    padding-bottom: 3%;
}

.button-group {
    padding-top: 3%;
    padding-bottom: 3%;
}

.info-inputs {
    padding-top: 3%;
}

.info-headers {
    padding-top: 2%;
    padding-bottom: 2%;
}

.subscription {
    padding-top: 3%;
}