
body{
    background-color:rgba(197, 183, 61, 0.5);   
}


h2 {text-align: center; color: white }

.rcorners1{      
    border-radius: 25px;
    position: absolute;
    width: 800px;
    height: 400px;
    left: 250px;
    top: 150px;
    background:white;
    border: 7px solid #810B0B;
    box-sizing: border-box;
}

.welcometext{
    
    position: absolute;
    top: 75px;
    left: 170px;
    width: 500px;
    height: 400px;
  
}

.submittext{

    position: absolute;
    width: 120px;
    height: 50px;
    background-color: #810B0B; 
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
   
}

#b2homepage{
  
    top: 100px;
    left: 150px;
}

#verification{
    background: white;
    /*margin: auto; */
    border-radius: 50px;
    width: 200px;
    height: 20px; 
}

.code{

    margin: auto;
    text-align:center;
}
