* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

body {
  background-color: rgba(108, 173, 138, 0.32);
  width: 100%;
}

.header {
  border: 1px solid green;
  position: relative;
  width: 100%;
}

.logo {
  position: relative;
  float: left;
  width: 35%;
  flex-wrap: wrap;
  font-size: 1.5rem;
  border: 1px solid yellow;
  height: 155px;
}

.nav-bar {
  border: 1px solid yellow;
  margin: auto;
  width: 60%;
  height: 50%;
  position: relative;
  float: right;
  top: 50%;
  letter-spacing: 0.05rem;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  padding: 3%;
}

nav ul li ul {
  background-color: #f3f3f3;
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 0.6rem;
  background-color: white;
  width: 15%;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

nav ul li:hover ul {
  display: block;
  overflow: visible;
}

nav ul li ul a:hover {
  background-color: #d1d1d1;
  text-decoration: none;
}

nav {
  height: 20vh;
  overflow: visible;
  margin: auto;
}

a:hover {
  text-decoration: underline #0e5a16;
}

hr {
  position: relative;
  width: 50%;
  height: 0.25%;
  top: 5%;
  background-color: #0e5a16;
  border-width: 0;
}

.search-container {
  position: relative;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  border: 10px solid black;
  display: block;
}

.fa-filter {
  position: relative;
}

.search-text {
  border: 4px solid yellow;
  position: relative;
  text-align: center;
  line-height: 2rem;
  color: #000000;
}

.search-input {
  position: relative;
  top: 10px;
  width: 30%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.search-bar {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
  border: 1px solid #aa0f0f;
}

.fa-filter {
  position: relative;
  top: 13px;
}
.fa-caret-down {
  position: relative;
  top: 13px;
}

.fa-caret-down ul {
  text-align: left;
  display: none;
  width: 100px;
  position: absolute;
  font-size: 0.5rem;
  padding-left: 0px;
}
.fa-caret-down:hover ul {
  overflow: visible;
  display: inline-grid;
}

.top-sellers {
  border: 10px solid yellow;
  position: relative;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.top-sellers-btn {
  position: relative;
  left: 85%;
  width: 8%;
  font-size: 0.8rem;
  background-color: #eaebb9;
  border-radius: 15px;
}

.top-sellers ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.top-sellers ul li {
  padding: 1%;
}

.featured-books {
  position: relative;
  border: 10px solid white;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.featured-books ul {
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.featured-books ul li {
  padding: 0.75%;
}

.featured-books-btn {
  left: 85%;
  width: 8%;
  position: relative;
  font-size: 0.8rem;
  background-color: #eaebb9;
  border-radius: 15px;
}

.books-bar {
  position: relative;
  overflow: auto;
  z-index: -1;
  background: rgba(197, 183, 61, 0.65);
  border-top: 6px solid #810b0b;
  box-sizing: border-box;
  width: 100%;
}

.regModal,
.loginModal,
.resetPWModal,
.changePasswordModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.regModal-content,
.resetPWModal-content,
.loginModal-content,
.changePasswordModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 15px;
}

.close-button-reg,
.close-button-resetPWModal,
.close-button-login,
.close-button-password {
  color: #810b0b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button-login:hover,
.close-button-login:focus,
.close-button-resetPWModal:hover,
.close-button-resetPWModal:focus,
.close-button-reg:hover,
.close-button-reg:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.container,
.login-container,
.resetPWModal-container,
.changePassword-container {
  padding: 16px;
  text-align: center;
  width: 80%;
  margin: auto;
  overflow: scroll;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="month"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="month"]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn,
.loginbtn,
.resetbtn {
  font-size: 16px;
  border-radius: 15px;
  background-color: #810b0b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover,
.loginbtn:hover,
.resetbtn:hover {
  opacity: 1;
}

.editProfileHeader {
  padding-bottom: 5%;
}

.leftbox {
  padding-top: 5%;
}

nav a#editProfileNavA {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  color: #fff;
  font-size: 1.1em;
  transition: all 0.1s ease-in-out;
}

nav a:hover#editProfileNavA {
  color: #10ac84;
  cursor: pointer;
  transform: scale(1.2);
}

nav a:first-child#editProfileNavA {
  margin-top: 7px;
}

nav a.active#editProfileNavA {
  color: #10ac84;
}

.editProfileContainer {
  text-align: center;
  width: 80%;
  height: 80%;
  margin: auto;
}

.input {
  display: block;
  text-align: center;
  font-size: large;
}