body {
    background-color: rgba(147, 184, 146, 0.65);
  }
  
  h1 {
    text-align: center;
  }

  .confirmation {
    text-align: center;
    font-size: 40px;
  }
  .center {
    text-align: center;
  }
  
